@import-normalize; /* bring in normalize.css styles */

:root {
  --TextColor: #212121;
  --bgColorContainer: rgb(93, 130, 224);
  --bgColorBody: rgb(53, 161, 125);
}

@keyframes gradientAnimation {
  0% {
    background-color: rgb(53, 161, 125);
  }
  25% {
    background-color: rgb(125, 53, 161);
  }
  50% {
    background-color: rgb(161, 53, 125);
  }
  75% {
    background-color: rgb(125, 161, 53);
  }
  100% {
    background-color: rgb(53, 161, 125);
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--TextColor);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

body::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 500%;
  height: 500%;
  animation: gradientAnimation 10s linear infinite;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-top: 0px;
  margin-bottom: 0px;
}